<section class="home-section" id="home">
    <div class="container">
        <div class="home-wrapper">
            <h1 class="home-title">Merge Dinosaurs. Grow Your World.</h1>
            <p class="home-text">Evolve the past into something bigger – evolution never stops.</p>
            <a class="home-link" href="https://play.google.com/store/apps/details?id=app.retro.dinomerge&hl=en&gl=us">
                <img src="/img/home/btn.png" alt="google play" loading="lazy">
            </a>
        </div>
    </div>
</section>
<section class="about-section" id="about">
    <div class="title-container">
        <h2>About the Game</h2>
        <picture>
            <source srcset="
                        /img/title/desk.png  1x,
                        /img/title/desk@2x.png 2x
                             " media="(min-width: 1439px)" />
            <source srcset="
                        /img/title/mob.png  1x,
                        /img/title/mob@2x.png 2x
                             " media="(max-width: 1438px)" />
            <img src="/img/title/mob.png" alt="line" loading="lazy" />
        </picture>
    </div>
    <div class="container">
<h3>Think merge games,<br class="mob"/> but your dinos<br class="mob" /> keep growing</h3>
<h4>even when you're not playing</h4>
<p class="about-text">Dino Merge blends active interaction with passive progression.<br class="desk" /> Players merge dinosaurs to create stronger species while
generating resources automatically.<br/>
It’s a balance between quick actions and long-term growth.</p>
    </div>
</section>