<section class="home-section" id="home">
    <div class="container">
        <div class="home-wrapper">
            <h1 class="home-title">Merge Dinosaurs. Grow Your World.</h1>
            <p class="home-text">Evolve the past into something bigger – evolution never stops.</p>
            <a class="home-link" href="https://play.google.com/store/apps/details?id=app.retro.dinomerge&hl=en&gl=us">
                <img src="/img/home/btn.png" alt="google play" loading="lazy">
            </a>
        </div>
    </div>
</section>